.contacts{
	//background-color: #000;
	text-align: left;
	clear: both;

	h2{
		font-size: 2em;
		color: @base;
		padding: 2%;
		font-weight: 900;
	}
}

.contact-container,
.map-container{
	min-height: 300px;
}

.contact-container{
	width: 100%;
	float: left;
	background-color: @contr;
	//position: relative;

// 	&:before{
// 		content: '';
// 		position: absolute;
// border: 149px solid transparent;
// border-left: 149px solid green;
// border-top: 149px solid green;
// 		z-index: 3;
// 		right: 18%;
// 	}
}



// .triangle-topleft{
// 	width: 0; 
// 	height: 0; 
// 	border: 200px solid transparent;
// 	border-left: 100px solid green; 
// 	border-top: 100px solid green;
// 	float: left;
// }

// .map-container{
// 	width: 35%;
// 	background-color: yellow;
// 	float: left;
// }
.contacts span{
	display: block;
	color: white;
	font-size: 1.3em;
	padding: 1% 1% 0% 15%;
}

.mail{
	width: 80%;
	border-top: 2px solid @base;
	border-bottom: 2px solid @base;
	margin: 2% auto;
	
	span{
		display: inline-block;
		margin: 1% 2%;
	}
}


.copyright{
	background-color: @base;
	color: white;
	line-height: 30px;
	clear: both;
}

